.product_box{
    border: 1px solid red;
    width: 95%;
padding: 10px;
}
.imgbox{
    width: 100%;
    height: 80%;
}
.productimg1{
    width: 98%;
    margin: auto;
    height: 100%;
}
.infodata{
    text-align: start;
    height: 120px;
    border: 1px solid black;
    
}